scope: ${PATRONI_SCOPE}

restapi:
  listen: ${PATRONI_RESTAPI_LISTEN}
  connect_address: ${PATRONI_RESTAPI_CONNECT_ADDRESS}

etcd:
  hosts:
    - etcd1:2379
    - etcd2:2379
    - etcd3:2379

bootstrap:
  # this section will be written into Etcd:/<namespace>/<scope>/config after initializing new cluster
  # and all other cluster members will use it as a `global configuration`
  dcs:
    ttl: 30
    loop_wait: 5
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    primary_start_timeout: 300
    postgresql:
      use_pg_rewind: true
      pg_hba:
        - local all all trust
        - host all all 127.0.0.1/32 trust
        - host all all 0.0.0.0/0 md5
        - host replication ${PATRONI_REPLICATION_USERNAME} 127.0.0.1/32 md5
        - host replication ${PATRONI_REPLICATION_USERNAME} 10.0.10.0/16 md5
      parameters:
        archive_mode: "on"
        archive_timeout: 1800s
        archive_command: '/usr/local/bin/wal-g wal-push %p'
        max_connections: ${PG_MAX_CONNECTIONS}
      recovery_conf:
        restore_command: '/usr/local/bin/wal-g wal-fetch %f %p'

  initdb:
    - auth-host: md5
    - auth-local: trust
    - encoding: UTF8
    - locale: en_US.UTF-8
    - data-checksums

postgresql:
  listen: ${PATRONI_POSTGRESQL_LISTEN}
  connect_address: ${PATRONI_POSTGRESQL_CONNECT_ADDRESS}
  data_dir: ${PATRONI_POSTGRESQL_DATA_DIR}
  pgpass: ${PATRONI_POSTGRESQL_PGPASS}
  callbacks:
    on_start: /opt/postgres/bin/notification.sh
    on_stop: /opt/postgres/bin/notification.sh
    on_restart: /opt/postgres/bin/notification.sh
    on_reload: /opt/postgres/bin/notification.sh
    on_role_change: /opt/postgres/bin/notification.sh
  parameters:
    shared_buffers: ${PG_SHARED_BUFFERS}
    effective_cache_size: ${PG_EFFECTIVE_CACHE_SIZE}
    maintenance_work_mem: ${PG_MAINTENANCE_WORK_MEM}
    checkpoint_completion_target: ${PG_CHECKPOINT_COMPLETION_TARGET}
    wal_buffers: ${PG_WAL_BUFFERS}
    default_statistics_target: ${PG_DEFAULT_STATISTICS_TARGET}
    random_page_cost: ${PG_RANDOM_PAGE_COST}
    effective_io_concurrency: ${PG_EFFECTIVE_IO_CONCURRENCY}
    work_mem: ${PG_WORK_MEM}
    min_wal_size: ${PG_MIN_WAL_SIZE}
    max_wal_size: ${PG_MAX_WAL_SIZE}
    max_worker_processes: ${PG_MAX_WORKER_PROCESSES}
    max_parallel_workers_per_gather: ${PG_MAX_PARALLEL_WORKERS_PER_GATHER}
    max_parallel_workers: ${PG_MAX_PARALLEL_WORKERS}
    unix_socket_directories: ${PG_UNIX_SOCKET_DIRECTORIES}
  create_replica_methods:
    - basebackup
  basebackup:
    - verbose
    - max-rate: 100M

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
